# https://gist.github.com/kelvinst/331aff32508e2517afbd

[user]
        email = fulano@hotmail.com
        name = Fulano

[alias]
        cm = commit -m
        cb = checkout -b
        co = checkout
        cd = checkout develop
        cmain = checkout main
        cmaster = checkout master
        s = !git status -s
        c = !git add --all && git commit -m 
        l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'